# Introduction

### Stated Objective(s) Here:
Find the best place for a new oil mining well

### Stated Goal(s) Here:
Build a model that will predict the which of the three regions will have the most profitable oil well while also analyzing potential profit & risks using the boostrapping technique.

### Initial Question(s): 
Which region will outperform the other two regions?

In [1]:
#Load Libraries Here
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from numpy.random import RandomState
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error

In [2]:
#Load Data Here
geo_0 = pd.read_csv('/datasets/geo_data_0.csv')
geo_1 = pd.read_csv('/datasets/geo_data_1.csv')
geo_2 = pd.read_csv('/datasets/geo_data_2.csv')

## Data Wrangling

This is where the data comes to become sensible after transforming it from its raw to refined state, if needed, but also this makes it easier to manipulate in our machine learning analysis. Since we have three datasets, for each, I just ensured there was no duplicates or missing values and any other anomalies.

### Geo 0 Dataframe

In [3]:
geo_0.head(10)

      id        f0        f1        f2     product
0  txEyH  0.705745 -0.497823  1.221170  105.280062
1  2acmU  1.334711 -0.340164  4.365080   73.037750
2  409Wp  1.022732  0.151990  1.419926   85.265647
3  iJLyR -0.032172  0.139033  2.978566  168.620776
4  Xdl7t  1.988431  0.155413  4.751769  154.036647
5  wX4Hy  0.969570  0.489775 -0.735383   64.741541
6  tL6pL  0.645075  0.530656  1.780266   49.055285
7  BYPU6 -0.400648  0.808337 -5.624670   72.943292
8  j9Oui  0.643105 -0.551583  2.372141  113.356160
9  OLuZU  2.173381  0.563698  9.441852  127.910945

In [4]:
geo_0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       100000 non-null  object
 1   f0       100000 non-null  float64
 2   f1       100000 non-null  float64
 3   f2       100000 non-null  float64
 4   product  100000 non-null  float64
dtypes: float64(4), object(1)
memory usage: 3.8+ MB

In [5]:
geo_0.isna().sum()

id         0
f0         0
f1         0
f2         0
product    0
dtype: int64

In [6]:
geo_0.duplicated().sum()

0

In [7]:
geo_0 = geo_0.drop(['id'], axis=1)
geo_0

             f0        f1        f2     product
0      0.705745 -0.497823  1.221170  105.280062
1      1.334711 -0.340164  4.365080   73.037750
2      1.022732  0.151990  1.419926   85.265647
3     -0.032172  0.139033  2.978566  168.620776
4      1.988431  0.155413  4.751769  154.036647
...         ...       ...       ...         ...
99995  0.971957  0.370953  6.075346  110.744026
99996  1.392429 -0.382606  1.273912  122.346843
99997  1.029585  0.018787 -1.348308   64.375443
99998  0.998163 -0.528582  1.583869   74.040764
99999  1.764754 -0.266417  5.722849  149.633246

[100000 rows x 4 columns]

In [8]:
geo_0

             f0        f1        f2     product
0      0.705745 -0.497823  1.221170  105.280062
1      1.334711 -0.340164  4.365080   73.037750
2      1.022732  0.151990  1.419926   85.265647
3     -0.032172  0.139033  2.978566  168.620776
4      1.988431  0.155413  4.751769  154.036647
...         ...       ...       ...         ...
99995  0.971957  0.370953  6.075346  110.744026
99996  1.392429 -0.382606  1.273912  122.346843
99997  1.029585  0.018787 -1.348308   64.375443
99998  0.998163 -0.528582  1.583869   74.040764
99999  1.764754 -0.266417  5.722849  149.633246

[100000 rows x 4 columns]

Geo 0 is in the clear, lets move onto the final two.

### Geo 1 Dataframe

In [9]:
geo_1.head(10)

      id         f0         f1        f2     product
0  kBEdx -15.001348  -8.276000 -0.005876    3.179103
1  62mP7  14.272088  -3.475083  0.999183   26.953261
2  vyE1P   6.263187  -5.948386  5.001160  134.766305
3  KcrkZ -13.081196 -11.506057  4.999415  137.945408
4  AHL4O  12.702195  -8.147433  5.004363  134.766305
5  HHckp  -3.327590  -2.205276  3.003647   84.038886
6  h5Ujo -11.142655 -10.133399  4.002382  110.992147
7  muH9x   4.234715  -0.001354  2.004588   53.906522
8  YiRkx  13.355129  -0.332068  4.998647  134.766305
9  jG6Gi   1.069227 -11.025667  4.997844  137.945408

In [10]:
geo_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       100000 non-null  object
 1   f0       100000 non-null  float64
 2   f1       100000 non-null  float64
 3   f2       100000 non-null  float64
 4   product  100000 non-null  float64
dtypes: float64(4), object(1)
memory usage: 3.8+ MB

In [11]:
geo_1.isna().sum()

id         0
f0         0
f1         0
f2         0
product    0
dtype: int64

In [12]:
geo_1.duplicated().sum()

0

In [13]:
geo_1 = geo_1.drop(['id'], axis=1)
geo_1

              f0         f1        f2     product
0     -15.001348  -8.276000 -0.005876    3.179103
1      14.272088  -3.475083  0.999183   26.953261
2       6.263187  -5.948386  5.001160  134.766305
3     -13.081196 -11.506057  4.999415  137.945408
4      12.702195  -8.147433  5.004363  134.766305
...          ...        ...       ...         ...
99995   9.535637  -6.878139  1.998296   53.906522
99996 -10.160631 -12.558096  5.005581  137.945408
99997  -7.378891  -3.084104  4.998651  137.945408
99998   0.665714  -6.152593  1.000146   30.132364
99999  -3.426139  -7.794274 -0.003299    3.179103

[100000 rows x 4 columns]

Geo 1 easily passed the anomaly test just like Geo 0, and now lastly, let's work on Geo 2.

### Geo 2 Dataframe

In [14]:
geo_2.head(10)

      id        f0        f1        f2     product
0  fwXo0 -1.146987  0.963328 -0.828965   27.758673
1  WJtFt  0.262778  0.269839 -2.530187   56.069697
2  ovLUW  0.194587  0.289035 -5.586433   62.871910
3  q6cA6  2.236060 -0.553760  0.930038  114.572842
4  WPMUX -0.515993  1.716266  5.899011  149.600746
5  LzZXx -0.758092  0.710691  2.585887   90.222465
6  WBHRv -0.574891  0.317727  1.773745   45.641478
7  XO8fn -1.906649 -2.458350 -0.177097   72.480640
8  ybmQ5  1.776292 -0.279356  3.004156  106.616832
9  OilcN -1.214452 -0.439314  5.922514   52.954532

In [15]:
geo_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       100000 non-null  object
 1   f0       100000 non-null  float64
 2   f1       100000 non-null  float64
 3   f2       100000 non-null  float64
 4   product  100000 non-null  float64
dtypes: float64(4), object(1)
memory usage: 3.8+ MB

In [16]:
geo_2.isna().sum()

id         0
f0         0
f1         0
f2         0
product    0
dtype: int64

In [17]:
geo_2.duplicated().sum()

0

In [18]:
geo_2 = geo_2.drop(['id'], axis=1)
geo_2

             f0        f1        f2     product
0     -1.146987  0.963328 -0.828965   27.758673
1      0.262778  0.269839 -2.530187   56.069697
2      0.194587  0.289035 -5.586433   62.871910
3      2.236060 -0.553760  0.930038  114.572842
4     -0.515993  1.716266  5.899011  149.600746
...         ...       ...       ...         ...
99995 -1.777037  1.125220  6.263374  172.327046
99996 -1.261523 -0.894828  2.524545  138.748846
99997 -1.199934 -2.957637  5.219411  157.080080
99998 -2.419896  2.417221 -5.548444   51.795253
99999 -2.551421 -2.025625  6.090891  102.775767

[100000 rows x 4 columns]

Of course, Geo 2 was going to be easy to wrap up!

After analyzing each dataframe, we can conclude that they are clean and sensible as each is free from any duplicates, missing values and shaped evenly.I also dropped the **ID** column as this is practically useless for our machine learning process.

## Machine Learning Phase

### Splitting the Dataset For Each Region

Now that our datasets are nice and refined, we can actually split each region into their new, respective regional variables: training and validation sets. We will also split them where the training set will have a hefty 75% to work with and the validation set will have the remaining yet fairly 25% proportion.

In [19]:
#Splitting all Regions by their Target & Feature groups

g0_features = geo_0.drop(['product'], axis =1)
g0_target = geo_0['product']

g1_features = geo_1.drop(['product'], axis =1)
g1_target = geo_1['product']

g2_features = geo_2.drop(['product'], axis =1)
g2_target = geo_2['product']

In [20]:
# Training set = 75% | Validation Set = 25% - respectively for each region

g0_ft_train, g0_ft_valid, g0_trgt_train, g0_trgt_valid = train_test_split(
    g0_features, g0_target, test_size=0.25, random_state=12345)

g1_ft_train, g1_ft_valid, g1_trgt_train, g1_trgt_valid = train_test_split(
    g1_features, g1_target, test_size=0.25, random_state=12345)

g2_ft_train, g2_ft_valid, g2_trgt_train, g2_trgt_valid = train_test_split(
    g2_features, g2_target, test_size=0.25, random_state=12345)

#Geo 0: Train Datasets' Shapes
print(f'Region Geo 0 Training Features:', g0_ft_train.shape)
print(f'Region Geo 0 Training Target:', g0_trgt_train.shape)

#Geo 0: Validation Datasets' Shapes
print(f'Region Geo 0 Valid Features:', g0_ft_valid.shape)
print(f'Region Geo 0 Valid Target:', g0_trgt_valid.shape)

Region Geo 0 Training Features: (75000, 3)
Region Geo 0 Training Target: (75000,)
Region Geo 0 Valid Features: (25000, 3)
Region Geo 0 Valid Target: (25000,)

In [21]:
# Training set = 75% | Validation Set = 25% - respectively for each region

#Geo 1: Train Datasets' Shapes
print(f'Region Geo 1 Training Features:', g1_ft_train.shape)
print(f'Region Geo 1 Training Target:', g1_trgt_train.shape)

#Geo 1: Validation Datasets' Shapes
print(f'Region Geo 1 Valid Features:', g1_ft_valid.shape)
print(f'Region Geo 1 Valid Target:', g1_trgt_valid.shape)

#Geo 2: Train Datasets' Shapes
print(f'Region Geo 2 Training Features:', g2_ft_train.shape)
print(f'Region Geo 2 Training Target:', g2_trgt_train.shape)

#Geo 2: Validation Datasets' Shapes
print(f'Region Geo 2 Valid Features:', g2_ft_valid.shape)
print(f'Region Geo 2 Valid Target:', g2_trgt_valid.shape)

Region Geo 1 Training Features: (75000, 3)
Region Geo 1 Training Target: (75000,)
Region Geo 1 Valid Features: (25000, 3)
Region Geo 1 Valid Target: (25000,)
Region Geo 2 Training Features: (75000, 3)
Region Geo 2 Training Target: (75000,)
Region Geo 2 Valid Features: (25000, 3)
Region Geo 2 Valid Target: (25000,)

It looks like by printing out the regions' shapes we're in the green, and thus, we're *in good shape* to offically start training our model.

### Model Training & Validating For Each Region

As the data is all numerical, we'll be working with LinearRegression and to have it be trained within our model.

In [22]:
#Region 0's LR Model

model = LinearRegression()
model.fit(g0_ft_train, g0_trgt_train)
g0_valid_pred = model.predict(g0_ft_valid)

g0_mse = mean_squared_error(g0_trgt_valid, g0_valid_pred)
g0_rmse = g0_mse ** 0.5
g0_mean = g0_valid_pred.mean()

print("Mean Squared Error:", g0_mse)
print("Root Mean Squared Error:", g0_rmse)
print("Average volume of predicted reserves:", g0_mean)

Mean Squared Error: 1412.2129364399243
Root Mean Squared Error: 37.5794217150813
Average volume of predicted reserves: 92.59256778438035

In [23]:
#Region 1's LR Model

model = LinearRegression()
model.fit(g1_ft_train, g1_trgt_train)
g1_valid_pred = model.predict(g1_ft_valid)

g1_mse = mean_squared_error(g1_trgt_valid, g1_valid_pred)
g1_rmse = g1_mse ** 0.5
g1_mean = g1_valid_pred.mean()

print("Mean Squared Error:", g1_mse)
print("Root Mean Squared Error:", g1_rmse)
print("Average volume of predicted reserves:", g1_mean)

Mean Squared Error: 0.7976263360391157
Root Mean Squared Error: 0.893099286775617
Average volume of predicted reserves: 68.728546895446

In [24]:
#Region 2's LR Model -- Good to go

model = LinearRegression()
model.fit(g2_ft_train, g2_trgt_train)
g2_valid_pred = model.predict(g2_ft_valid)

g2_mse = mean_squared_error(g2_trgt_valid, g2_valid_pred)
g2_rmse = g2_mse ** 0.5
g2_mean = g2_valid_pred.mean()

print("Mean Squared Error:", g2_mse)
print("Root Mean Squared Error:", g2_rmse)
print("Average volume of predicted reserves:", g2_mean)

Mean Squared Error: 1602.3775813236196
Root Mean Squared Error: 40.02970873393434
Average volume of predicted reserves: 94.96504596800489

Now that the model has been applied across all three regions, we can conclude a few minor things. First thing I noticed was, Region 2 surpassing the other regions in the average volume of reserves with 94.96 with about at least 2.0+ difference with Region 0. 

As for (R)MSE values, Region 2 has the highest values which is a great concern, and this could be hinting at how its predicitions are poorly accurate (compared to the others) and thus, definitely needs to be explored further as to why is there such a high discrepancy.However, overall, Region 1 has the lowest MSE & RMSE values and thus is the most trustworthy in term of accurate predicitions among the three Regions. Region 0 is moderately decent (R)MSE values where its better than region 2 but less accurate than Region 1.

### Profit Calculation Preparation

In [25]:
#calculate the avg volume of reserves w/o losses
barrel = 4500
sample = 200
budget = 100000000

profit_baseline = (budget/sample)/barrel
print("The baseline profit starts at:", profit_baseline)

g0_mean = geo_0['product'].mean() - profit_baseline
g1_mean = geo_1['product'].mean() - profit_baseline
g2_mean = geo_2['product'].mean() - profit_baseline

print(f'Region 0:', g0_mean)
print(f'Region 1', g1_mean)
print(f'Region 2', g2_mean)

The baseline profit starts at: 111.11111111111111
Region 0: -18.6111111111111
Region 1 -42.2861111111111
Region 2 -16.11111111111107

So our regions are a bit underneath the baseline we've established. Given that we're are aware of a few conditions:
* Barrel - We fetch \\$4,500 per barrel filled with raw materials.
* Sample - Our sample size will come from the most lucrative pool of 500 but we'll zero in on the the cream of the crop of 200.
* Budget - For the development of 200 oil wells we have \\$100 USD Million as our cut off.

The region closest to the profitable baseline is Region 2, this isn't surprising given we saw its average revenue prediction earlier. However, the others could also pull through with a surprise but as for right now, we're unsure; that's why, we need to dive further and test how far we can explore each region's max potential to ultimately choose the best region.

## Profit Analysis & Calculation

In [26]:
barrel = 4500
sample = 200
budget = 100000000

def calculate_profit(target, predictions):
    predictions = pd.Series(predictions)
    top_wells = predictions.sort_values(ascending=False).head(sample).index
    target_reserves = target.loc[top_wells].sum()
    revenue = target_reserves * barrel
    profit = revenue - budget
    return profit

g0_trgt_valid = g0_trgt_valid.reset_index(drop=True)
g1_trgt_valid = g1_trgt_valid.reset_index(drop=True)
g2_trgt_valid = g2_trgt_valid.reset_index(drop=True)

#Top 200 Wells Predicted Profit By Region
print(f'Geo 0 Region: ${calculate_profit(g0_trgt_valid, g0_valid_pred):,}')
print(f'Geo 1 Region: ${calculate_profit(g1_trgt_valid, g1_valid_pred):,}')
print(f'Geo 2 Region: ${calculate_profit(g2_trgt_valid, g2_valid_pred):,}')

Geo 0 Region: $33,208,260.43139851
Geo 1 Region: $24,150,866.966815114
Geo 2 Region: $27,103,499.635998324

Although, I had my eyes set on Region #2 a moment ago, it seems with a good mix of predictions Region 0 has shown how profitable it can actually be compared to its competition's early on-set of (revenue prediction & mean) profitability.

In [27]:
def bootstrapping(target, predictions, well_samples, bootstrap_samples, region):
    pred_series = pd.Series(predictions)
    
    values = []
    state = np.random.RandomState(12345)
    
    for i in range(bootstrap_samples):
        target_subsample = target.sample(n=500, replace=True, random_state=state)
        probs_subsample = pred_series[target_subsample.index]
        values.append(calculate_profit(target_subsample, probs_subsample))
        
    values = pd.Series(values)
    upper = round(values.quantile(0.975), 2)
    lower = round(values.quantile(0.025), 2)
    
    mean = round(values.mean(), 2)
    risk_of_loss = (values <0).mean()*100
    
    print(f'Region represented by {region}')
    print(f'The 95% Confidence Interval\'s upper and lower bounds are from: {upper:,} to {lower:,}')
    print(f'This Region\'s Average profit is: ${mean:,} in USD')
    print(f'This Regions estimate lost is: {risk_of_loss}%')
    print()

In [28]:
bootstrapping(g0_trgt_valid, g0_valid_pred, 500, 1000, 'Region 0')
bootstrapping(g1_trgt_valid, g1_valid_pred, 500, 1000, 'Region 1')
bootstrapping(g2_trgt_valid, g2_valid_pred, 500, 1000, 'Region 2')

Region represented by Region 0
The 95% Confidence Interval's upper and lower bounds are from: 12,311,636.06 to 129,483.31
This Region's Average profit is: $6,007,352.44 in USD
This Regions estimate lost is: 2.0%

Region represented by Region 1
The 95% Confidence Interval's upper and lower bounds are from: 11,976,415.87 to 1,579,884.81
This Region's Average profit is: $6,652,410.58 in USD
This Regions estimate lost is: 0.3%

Region represented by Region 2
The 95% Confidence Interval's upper and lower bounds are from: 12,306,444.74 to -122,184.95
This Region's Average profit is: $6,155,597.23 in USD
This Regions estimate lost is: 3.0%

In terms of overall profit performance: Region 1 has the highest profit, following region 2 and then Region 0. As for the confidence intervals: Region 2 has a clear negative lower bound and doesn't seem overall great in terms of profitiablity but this as further evidence, its estimated loss is 3%. As for Region 1 & 0, they are both profitable on average given their bounds but Region 1 does outshine Region 0 with its lower bounds yielding a *higher lower bound* value. To further add reasoning why Region 1 is better than Region 0 is its margin is a lot smaller as well.

## Conclusion

After further analysis, calculation and sample-predicting, Region #1 proven itself as the most potentially lucrative of the three regions we've tested out. Despite its small risk estimate of 0.3% lost in profit, it does allow for us to believe within its ballpark estimate of \\$11.9 - \\$1.5 million range we can bring in on average of \\$6.6 million USD of potential liquid gold that's sitting within the 200 oil wells (out of 500) of Region 1. So its in our best interest to move forward with this region instead of the others (Region 0 & 2).